<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="<%= challenges_participations_path %> ">Participations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= challenges_created_path %>">My challenges</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Needs attention</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= challenges_archived_path %>">Archived</a>
  </li>
</ul>

EN CONSTRUCCION
