<br>
<div class="row">
  <div class="col-md-4">
    <h1>Explore</h1>
  </div>
  <div class="offset-md-6 col-md-1">
    <%= link_to "Make my own challenge", new_challenge_path, class: 'btn btn-success'%>
  </div>
</div>
